<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.MovieTime"
        android:name="com.movietime.main.app.MovieTimeApp"
        android:networkSecurityConfig="@xml/network_security_config">

        <profileable android:shell="true"/>

        <activity android:name="com.movietime.main.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MovieTime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.movietime.auth.AuthCallbackActivity"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:path="/auth"
                    android:host="movietime.com"
                    android:scheme="milanga" />
            </intent-filter>
        </activity>
    </application>

</manifest>